<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-3 col-sm-6"> -->
                <div class="col-md-2" style="margin: auto; float:none;">    
                    <a href="#">
                        <img src="img/logos/Service-Disabled-Veteran-Owned-Certified.jpg" class="img-responsive img-centered" style="max-width: 400px;" alt="">
                    </a>
                </div>                
            </div>
        </div>
    </aside>