<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <!-- <div class="col-md-3 col-sm-6"> -->
                <div class="col-md-2" style="margin: auto; float:none;">    
                        <img src="img/usvg-logo.png" class="img-responsive img-centered" alt="">
                </div>                
            </div>
            <div class="row">
                <!-- <div class="col-md-3 col-sm-6"> -->
                <div class="col-md-2" style="margin: auto; float:none;">    
                        <img src="img/logos/Service-Disabled-Veteran-Owned-Certified.jpg" class="img-responsive img-centered" alt="">
                </div>                
            </div>
        </div>
    </aside>